<body>
    <!--Advertising-->
    <div class="ads">
    </div>

    <!--Content-->
    <div class="main" ng-controller="CategoryController as vm">
        <div class="container">
            <ul class="category">
                <li class="col-sm-4">
                    <div class="card small col s4 hoverable card-hover">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/men.jpeg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">MEN'S SHOES<i class="material-icons right">more_vert</i></span>
                            <a class="btn waves-effect" href="#/product" ng-click="vm.applyData('Men')">Shop Now!</a>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">MEN'S SHOES<i class="material-icons right">close</i></span>
                            <p>Sneakers for men. Prices and quanlities are fascinating!</p>
                            <a class="btn waves-effect" href="#/product" ng-click="vm.applyData('Men')">Shop Now!</a>
                        </div>
                    </div>
                </li>
                <li class="col-sm-4">
                    <div class="card small col s4 hoverable card-hover">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/women.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">WOMEN'S SHOES<i class="material-icons right">more_vert</i></span>
                            <a class="btn waves-effect" href="#/product" ng-click="vm.applyData('Women')">Shop Now!</a>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">WOMEN'S SHOES<i class="material-icons right">close</i></span>
                            <p>Sneakers for women. Prices and quanlities are fascinating!</p>
                            <a class="btn waves-effect" href="#/product" ng-click="vm.applyData('Women')">Shop Now!</a>
                        </div>
                    </div>
                </li>
                <li class="col-sm-4">
                    <div class="card small col s4 hoverable card-hover">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/a001.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">ACCESSORIES<i class="material-icons right">more_vert</i></span>
                            <a class="btn waves-effect" href="">Shop Now!</a>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">ACCESSORIES<i class="material-icons right">close</i></span>
                            <p>Accessories. Prices and quanlities are fascinating!</p>
                            <a class="btn waves-effect">Shop Now!</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--Middle content-->
    <div class="Mid-content">
        <div class="container">
            <h2>Welcome</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                some form, by injected humour, or randomised words which don't look even slightly believable. If you are
                going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined
                with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated
                Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        </div>
    </div>

    <!--Advertising-->
    <div class="ads">
    </div>

    <!--ContentMidBottom-->
    <div class="Bot-Mid-content">
        <ul class="Album">
            <li>
                <div>
                    <a href=""><img class="img-responsive" src="images/ws005.jpg" /></a>
                    <div class="Overlay">
                    </div>
                    <h4>Roshe Run</h4>
                </div>
            </li>
            <li>
                <div>
                    <a href=""><img class="img-responsive" src="images/ws005.jpg" /></a>
                    <div class="Overlay">
                    </div>
                    <h4>Roshe Run</h4>
                </div>
            </li>
            <li>
                <a href="">
                    <div>
                        <img class="img-responsive" src="images/ws005.jpg" />
                        <div class="Overlay">
                        </div>
                        <h4>Roshe Run</h4>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <img class="img-responsive" src="images/ws005.jpg" />
                        <div class="Overlay">
                        </div>
                        <h4>Roshe Run</h4>
                    </div>
                </a>
            </li>
            <li>
                <div>
                    <a href=""><img class="img-responsive" src="images/ws005.jpg" /></a>
                    <div class="Overlay">
                    </div>
                    <h4>Roshe Run</h4>
                </div>
            </li>
            <li>
                <div>
                    <a href=""><img class="img-responsive" src="images/ws005.jpg" /></a>
                    <div class="Overlay">
                    </div>
                    <h4>Roshe Run</h4>
                </div>
            </li>
            <li>
                <div>
                    <a href=""><img class="img-responsive" src="images/ws005.jpg" /></a>
                    <div class="Overlay">
                    </div>
                    <h4>Roshe Run</h4>
                </div>
            </li>
            <li>
                <div>
                    <a href=""><img class="img-responsive" src="images/ws005.jpg" /></a>
                    <div class="Overlay">
                    </div>
                    <h4>Roshe Run</h4>
                </div>
            </li>
        </ul>
    </div>

</body>
