<div class="main" ng-controller="ProductController as vm">
    <div class="section white">
        <div class="row container">
            <div class="col s7 col-margin">
                <div class="row">
                    <img class="materialboxed responsive-img" data-caption="Lorem ipsum dolor sit amet." width="580" src="{{vm.item.Img[vm.number].Url}}">
                </div>
                <div class="row">
                    <div class="col s2 margin" ng-repeat="pImg in vm.item.Img">
                        <a href="">
                            <img class="responsive-img" src="{{pImg.Url}}" ng-click="vm.applyChange($index)">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s5">
                <h1>{{vm.item.Name}}</h1>
                <div class="labelId">Id: {{vm.item.ID}}</div>
                <div class="castItem">{{vm.item.Price}}đ</div>

                <div class="input-field col s7 size">
                    <select ng-model="vm.selectSize.value" ng-change="vm.findQtt(vm.selectSize.value)" material-select watch>
                        <option
                        ng-repeat="values in vm.selectSize.choices">{{values}}</option>
                    </select>
                    <label>Size</label>
                </div>
                <div class="input-field col s7 size">
                    <select ng-model="vm.selectQtt.value" ng-change="vm.setQtt()" material-select watch>
                        <option
                        ng-repeat="values in vm.selectQtt.quantity">{{values}}</option>
                    </select>
                    <label>Quantity</label>
                </div>

                <div class="col s7 size">
                    <a class="waves-effect waves-light btn-large btn-flat addtc" ng-click="vm.addToCart()">ADD TO CART</a>
                </div>
            </div>
        </div>
        <title>{{vm.item.Brand}} {{vm.item.Name}}</title>
    </div>
 
    <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</div>